{% extends "layout.html" %}
{% block content %}
<a href="/dashboard?sort=ascending" class="btn btn-primary">Sort by rating lowest-highest</a>
<a href="/dashboard?sort=descending" class="btn btn-primary">Sort by rating  highest-lowest</a>


<div class="row">
  <div class= "col-sm-3">
  
  {% for album in albums %}

  {% set name= album["name"] %}
  {% set image= album["url"] %}
  {% set rating = album["rating"] %}
  {% set loved = album["loved"] %}
  {% set review = album["review"] %}
  {% set date = album["timestamp_string"] %}




  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src= {{image}} alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{name}}</h5>
      <p class="card-text">RATING: {{rating}}</p>
      <p class="card-text">LOVED: {{loved}}</p>
      <p class="card-text">{{review}}p>
      <p class="card-text">{{timestamp_string}}</p></p>

    </div>
  </div>

  {% endfor %}

  </div>
</div> 

{% endblock %}