
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- google hosted jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>

  


    <title> AOTY - pizza 💿🍕 </title>



    <style>
    #wrapper {
    width: 100%;
    height: 400px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    }

    </style>
    
</head>


<body>
<div id=wrapper>
    <div class="card" style="width: 40rem; vertical-align: middle;">
        <h1>Welcome to AOTY-pizza 🍕💿</h1>
        <h2>log in with spotify to start rating!</h2>
        <a href="/auth"  id = "log_button" class="btn btn-primary">Log in to spotify</a>
    </div>
</div>
    

</body>

</html>



