

  <div class="card">
    <!-- Card image -->
    <img class="card-img-top" src="{{ poster_path }}" alt="Card image cap">
    <!-- Card content -->
    <div class="card-body elegant-color white-text rounded-bottom">
    <!-- Title -->
      <div class="row">
        <div class="col-sm-5">
          <h4 class="card-title"><a> {{ movies.results[i].title }} </a></h4>
        </div>
        <!-- up button -->
        <div class="col-sm-2">
            <button type="button" id= "{{down_id}}" data-postid="{{ movies.results[i].id }}"  class="btn btn-danger btn-block"> <i class="fas fa-chevron-down"></i></button>
        </div>
        <!-- counter -->
        <div class="col-sm-2">
          <h6 id='{{ movies.results[i].id }}'>{{ db.get(movies.results[i].id)|int}}</h6>
        </div>
        <!-- down button -->
        <div class="col-sm-2">
          <button type="button" id='{{up_id}}'   data-postid="{{ movies.results[i].id }}" class="btn btn-success btn-block"><i class="fas fa-chevron-up"></i></button>
        </div>
      </div>
      <hr class="hr-light">
      <!-- Text -->
      <p class="card-text" style="text-align: justify;"> {{ short_overview  }} </p>
    </div>

  </div>
  {% if (i + 1)/4 ==0 and i != movies.results|length %}
        </div> <div class="row">
  {% endif %}

  <script type=text/javascript>
    $(document).on('click', '#{{up_id}}', function(event) {
      upvote($('#{{up_id}}').data('postid'))
      $('#{{up_id}}').attr('disabled',true)
      $.ajax({
        url : '/upvote',
        type : "post",
        contentType: 'application/json;charset=UTF-8',
        dataType: "json",
        data : JSON.stringify({'postid' : $('#{{up_id}}').data('postid')}),
        success : function(response) {
          console.log(response);
        },
        error : function(xhr) {
          console.log(xhr);
        }
      });
      event.preventDefault();
    });

  $(document).on('click', '#{{down_id}}', function(event) {
    downvote($('#{{down_id}}').data('postid'))
    $('#{{down_id}}').attr('disabled',true)
    $.ajax({
      url : '/downvote',
      type : "post",
      contentType: 'application/json;charset=UTF-8',
      dataType: "json",
      data : JSON.stringify({'postid' : $('#{{down_id}}').data('postid')}),
      success : function(response) {
        console.log(response);
      },
      error : function(xhr) {
        console.log(xhr);
      }
    });
    event.preventDefault();
  });


  function upvote(id){
    var clicks =  parseInt(document.getElementById(id).textContent)
    clicks += 1;
    document.getElementById(id).innerHTML = clicks;
  }

  function downvote(id) {
    var clicks =  parseInt(document.getElementById(id).textContent)
    clicks -= 1;
    document.getElementById(id).innerHTML = clicks;
  }


</script>
  {% endfor %}
  </div>
</div>
